<!DOCTYPE>
<html ng-app = "urlshortenerapp">
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

        <title>Awesome URL Shortener</title>
    </head>
    <body>
        <!-- Angular support -->
        <div class="container" ng-controller="AppCtrl">
            <h1>Awesome URL Shortener</h1>
            <table class="table">
                <thead>
                    <!-- Table for URL(s) input -->
                    <tr>
                        <th>Original URL</th>
                        <th>Shortened URL</th>
                        <!-- Actions -->
                        <th>Action</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!-- URL to shorten -->
                        <td><input class="form-control" ng-model="url.base_url"></td>
                        <!-- Optional already shortened URL -->
                        <td><input class="form-control" ng-model="url.short_url"></td>
                        <td><button class="btn btn-primary" ng-click="shortenURL()">Shorten URL</td>
                        <td><button class="btn btn-info" ng-click="update()">Update</button>&nbsp;&nbsp;<button class="btn btn-info" ngclick="deselect()">Clear</button></td>
                    </tr>
                    <!-- Display all base_url and short_url-->
                    <tr ng-repeat="url in urllist">
                        <td>{{url.base_url}}</td>
                        <td><a href="{{url.short_url}}">{{url.short_url}}</a></td>
                        <td><button class="btn btn-danger" ng-click="remove (url._id)">Remove</button><td>
                        <td><button class="btn btn-warning" ng-click="edit(url._id)">Edit</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="controllers/controller.js"></script>
    </body>
</html>
